@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 30px 100px;
  margin: 0 auto;
}

.card {
  padding: 10px;
  position: relative;
  border-radius: 12px;
}

code {
  border: 1px solid #e0dfdf;
  border-radius: 12px;
}

.pattern {
  display: block;
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  border: 1px solid #e0dfdf;
}

.pattern:active {
  transform: scale(0.9);
  opacity: .8;
}

footer {
  padding: 20px;
  text-align: center;
}

footer a {
  text-decoration: none;
}