@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body.dark-mode {
  background: rgb(107, 101, 101);
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 30px 100px;
  margin: 0 auto;
}

.card {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  position: relative;
  border-radius: 12px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.card:hover {
  background: #e68cff !important;

}

.dark-mode .card:hover {
  background: #9540ac !important;
  z-index: 1;
  transform: skew(-3deg, -3deg);
}

.dark-mode .card {
  background: #4b4b4b;
}

.iconos i {
  font-size: 20px;
  padding: 10px;
  color: #cb6ce6;
  cursor: pointer;
}

h2 {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}


.card-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.codeSnippet {
  background: #dedede;
  margin: auto auto;
  width: 138px;
  display: block;
  border-radius: 15px;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.codeSnippet:active {
  transform: scale(0.9);
}

.dark-mode .codeSnippet {
  background: #272822;
}

.copyButton {
  background: #b553d0;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.copyButton:hover {
  opacity: 0.8;
}

.showCodeButton {
  background: #333;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.showCodeButton:hover {
  opacity: 0.8;
}

footer {
  padding: 20px;
  text-align: center;
}


.codeSnippet {
  font-family: monospace;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  position: relative;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}