@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body.dark-mode {
  background: rgb(107, 101, 101);
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 30px 100px;
  margin: 0 auto;
}

.card {
  padding: 20px;
  border: 1px solid #dedede;
  position: relative;
  border-radius: 12px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;

}


.dark-mode .card:hover {
  background: #9540ac !important;
  z-index: 1;
  transform: skew(-3deg, -3deg);
}

.dark-mode .card {
  background: #4b4b4b;
}

.iconos i {
  font-size: 20px;
  padding: 10px;
  color: #cb6ce6;
  cursor: pointer;
}

h2 {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.codeSnippet {
  background: #dedede;
  display: block;
  border-radius: 15px;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
}

.codeSnippet:active {
  transform: scale(0.9);
}

.dark-mode .codeSnippet {
  background: #272822;
}

.copyButton {
  background: #b553d0;
  color: #fff;
  cursor: pointer;
}


footer {
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}